* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, li {
  list-style: none; }

h1, h2, h3 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 35px; }

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 15px; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px; }

.header {
  background-color: #c3c3c3; }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__menu {
    display: flex;
    align-items: center; }
  .header__item {
    margin-right: 10px; }
    .header__item a {
      padding: 0 20px; }
    .header__item button {
      padding: 10px 20px; }

.main {
  overflow: hidden;
  height: 100vh; }
  .main .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .main__content {
    margin: auto 0;
    max-width: 40%;
    position: relative;
    top: 40%;
    left: 0%;
    transform: translate(0%, 60%); }
    .main__content .title {
      font-style: 32px;
      color: #FA5652; }
    .main__content .subtitle {
      font-style: 52px;
      color: #035755; }
    .main__content p {
      color: #4B4F51;
      line-height: 25px;
      margin-bottom: 30px; }
    .main__content button {
      padding: 25px 60px;
      border: none;
      border-radius: 65px;
      background-color: #FB4C47;
      color: #FFFFFF;
      font-style: 24px;
      font-weight: 700; }
  .main__image {
    position: relative; }
    .main__image img {
      position: absolute; }
    .main__image img:first-child {
      height: 570px;
      bottom: -530px;
      right: -50px;
      z-index: 9; }
    .main__image img:nth-child(2) {
      height: 350px;
      bottom: -470px;
      right: 80px;
      z-index: 10; }
    .main__image img:nth-child(3) {
      height: 400px;
      bottom: -500px;
      right: 360px;
      z-index: 8; }
    .main__image img:nth-child(4) {
      height: 130px;
      bottom: -50px;
      right: -30px;
      z-index: 7; }
    .main__image img:nth-child(5) {
      height: 180px;
      bottom: -130px;
      right: 550px;
      z-index: 11; }
    .main__image img:nth-child(6) {
      height: 100px;
      bottom: -160px;
      right: 250px;
      z-index: 11; }
    .main__image img:nth-child(7) {
      height: 120px;
      bottom: -50px;
      right: -150px;
      z-index: 11; }
    .main__image img:last-child {
      height: 200px;
      bottom: -350px;
      right: -210px;
      z-index: 11; }

.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between; }
.about__image {
  width: 40%; }
  .about__image img {
    height: 700px; }
.about__content {
  width: 50%; }
.about button {
  padding: 25px 50px;
  font-size: 20px;
  color: #FA5652;
  background-color: rgba(250, 86, 82, 0.15);
  border: none;
  border-radius: 65px; }

.contagion {
  text-align: center; }
  .contagion__list {
    display: flex;
    justify-content: space-around; }
  .contagion__item {
    box-shadow: 0px 0px 100px #E5E5E5;
    width: 30%; }
    .contagion__item img {
      height: 250px; }

/*# sourceMappingURL=style.css.map */
